@font-face {
    font-family:"MontserratBold";
    src: url(../fonts/Montserrat-Bold.ttf)
}
@font-face {
    font-family:"Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf)
}
@font-face {
    font-family:"MontserratExtralight";
    src: url(../fonts/Montserrat-ExtraLight.ttf)
    
}
@font-face {
    font-family:"Montserrat-SemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf)
    
}

@font-face {
    font-family:"MontserratRegular";
    src: url(../fonts/Montserrat-Regular.ttf)
}

@font-face {
    font-family:"MontserratLight";
    src: url(../fonts/Montserrat-Light.ttf)
}


.html, .body {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}



.main__body {
  width: 100%; /* Делаем контейнер точкой отсчёта для абсолютного позиционирования */
  margin: 0 auto;
  overflow-x: hidden; /* Чтобы контейнер был не меньше высоты аватара */
}



.logo {
  position: absolute;
  left: 8%; /* Отступ слева */
  top: 5.6%; /* Центрирование по вертикали */
  width: 8%;
  height: 4%;
}

.open_profile {
  position: absolute;
  left: 90%; 
  top: 4.8%; /* Центрирование по вертикали */
  width: 2.5%;
  height: 3%;
  border: none;
  background-color: #ffff;
}
.close_profile {
  position: absolute;
    top: 5.3%;
    left: 85%;
    border: none;
    background-color: #ffffff;
}

.close_profile img {
  width: 3vh;
  height: 3vh;
  background-color: #ffffff;
}

.popup_profile {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none; /* Скрываем по умолчанию */
   overflow-x: hidden;

}

.popup-content_profile {
  position: absolute;
  left: 68.5%;
  top: 9%;
  background-color: #ffff;
  border-radius: 6%;
  width:21%;
  height: 35%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  border: 1px #D4d4d4 solid;
   overflow-x: hidden;
}

.profile_text {
  position: absolute;
    z-index: 1;
    top: 5%;
    left: 8%;
    font-family: MontserratBold;
    font-size: 3.4vh;
}

.FIO_text{
  position: absolute;
    z-index: 1;
    top: 22%;
    left: 8%;
    font-family: MontserratExtralight;
    font-size: 1.8vh;
}

.user_name  {
  position: absolute;
    z-index: 1;
    top: 34%;
    left: 8%;
    font-family: Montserrat-SemiBold;
    font-size: 1.8vh;
}

.id_text {
  position: absolute;
    z-index: 1;
    top: 44%;
    left: 8%;
    font-family: MontserratExtralight;
    font-size: 1.8vh;
}
.id {
  position: absolute;
    z-index: 1;
    top: 54%;
    left: 8%;
    font-family: Montserrat-SemiBold;
    font-size: 1.8vh;
}

.point_text {
  position: absolute;
    z-index: 1;
    top: 64%;
    left: 8%;
    font-family: MontserratExtralight;
    font-size: 1.8vh;
}

.point {
  position: absolute;
 z-index: 1;
    top: 74%;
    left: 8%;
    font-family: Montserrat-SemiBold;
    font-size: 1.8vh;
}
.exit_account {
  position: absolute;
 z-index: 1;
    top: 85%;
    left: 29%;
    font-family: MontserratExtralight;
    font-size: 1.8vh;
    color: #DD4433;
}




.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none; /* Скрываем по умолчанию */

}



.popup-content {
  position: absolute;
  left: 68%;
  top: 12%;
  background-color: #ffff;
  border-radius: 7%;
  max-height: 80vh;
  width:18.1%;
  height: 47%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  border: 0.2vh #D4d4d4 solid
}



.scrollable-content {
  position: absolute;
  top: 17%;
  left: 8.5%;
  width:86%;
  overflow-y: auto;
  max-height: 56%;
  margin: 5% 0;
}

.open {
    position: absolute;
  left: 87%; 
  top: 5.3%; /* Центрирование по вертикали */
  width: 2.5%;
  height: 3%;
  border: none;
  background-color: #ffff;
}

.close {
    position: absolute;
    top: 5%;
    left: 80%;
}
.close_fbutton {
    width: 4vh;
  height: 4vh;
  border: none;
  background-color: #f9f9f9;
}

.compani_log {
    position: absolute;
    left: 6%;
    z-index: 1;
    top: 3%;
    background-color: #f9f9f9;
}
.window_grey {
  background: #f9f9f9;
  border-radius: 9%/40%;
  position: absolute;
  width: 100%;
  height: 18%;
}

.text__friends {
    position: absolute;
    z-index: 1;
    top: 3%;
    left: 37%;
    font-family: MontserratRegular;
    font-size: 2.5vh;
}

.line {
    background: #D4d4d4;
  position: absolute;
  top: 77%;
  width: 100%;
  height: 0.3%;
  z-index: 2;
}

.friends__add {
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 9%;
    font-size: 2.2vh;
    font-family: MontserratRegular;
}

.id_friend {
    position: absolute;
    z-index: 1;
    top: 88%;
    left: 8%;
    font-size: 1.8vh;
    border: none;
    border-radius: 10%/80%;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
    font-family: MontserratExtralight;
    text-indent: 1vh;
    transition: 0.5s;
}


.button_add{
  border: none;
  border-radius: 50vh;
  background-color: #ffffff;
  width: 4vh;
  height: 4vh;
}

.cont_button {
  position: absolute;
  z-index: 2;
    top: 85.7%;
    left: 69%;
}


.id_friend:hover {
    
    border: 0.1vh #DD4433 solid;
    border-color: #DD4433;
}

.id_friend:focus {
    outline-color: #DD4433;
}






#friends-list {
    max-height: 200px; /* Максимальная высота списка */
    overflow-y: auto; /* Включаем прокрутку при необходимости */
}

.friend-item {
    padding: 5px 10px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

.friend-item:last-child {
    border-bottom: none;
}


























.zadachi_push{
    position: absolute;
    top: 8vh;
    left: 79vh;
    font-size: 2.5vh;
    font-family: MontserratRegular;
    color: black;
}

.podderjka_push{
    position: absolute;
    z-index: 1;
    top: 8vh;
    left: 95vh;
    font-size: 2.5vh;
    font-family: MontserratRegular;
    color: black;
}

.kompaniya_push{
    position: absolute;
    z-index: 1;
    top: 8vh;
    left: 114vh;
    font-size: 2.5vh;
    font-family: MontserratRegular;
    color: black;
}






.tasks {
    display: flex;
    gap: 10vh;
    width: 158vh;
    margin: 1.6% auto 0;
}

.row_group {
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin: 11% auto 0;
    max-width: 157vh;
    gap: 12vh;
}

.one_row {
    flex: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 7.9vh;

}

.two_row {
    flex: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 22.6vh;

}

.three_row {
    flex: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 15vh;
}


.row_title {
    font-size: 3.35vh;
    font-family: MontserratRegular;
}
.add_new_tasks img {
    width: 4vh;
    height: 4vh;
}

.add_new_tasks {
    background-color: #ffffff;
    border: none;
}

.date {
    font-size: 1.6vh;
    font-family: MontserratExtralight;
}

.row {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;

}
.task {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 0.1em solid #ddd;
    border-radius: 7%;
    padding: 2vh;
    box-shadow: 0 0.9em 0.9em rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 44vh;
    flex-wrap: wrap;
}


.task h1 {
    margin-top: 0%;
    color: #333;
    font-family: MontserratBold;
    font-size: 2vh;
}
.task h2 {
    color: #333;
    font-family: MontserratRegular;
    font-size: 1.4vh;
}

.head_task {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.editing_button {
    background-color: #f9f9f9;
    border: none;
    transition: 0.5s;
    border-radius: 30%;

}
.editing_button:hover {
    border: 0.1em solid #DD4433;
    transition: 0.5s;
}
.down_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1vh;
}

.open_task_button {
    margin: 1vh;
    justify-content: space-between;
    align-items: flex-start;
    color: #DD4433;
    transition: 0.5s;
    border: none;
    font-family: MontserratLight;
    font-size: 1.6vh;
    background-color: #f9f9f9;
}
.delete_task_button{
    margin: 1vh;
    justify-content: space-between;
    align-items: flex-start;
    color: #DD4433;
    transition: 0.5s;
    border: none;
    font-family: MontserratLight;
    font-size: 1.6vh;
    background-color: #f9f9f9;
}
.complete_task_button {
    margin: 1vh;
    justify-content: space-between;
    align-items: flex-start;
    color: #DD4433;
    transition: 0.5s;
    border: none;
    font-family: MontserratLight;
    font-size: 1.6vh;
    background-color: #f9f9f9;
}

.delete_task_button:hover{
    transition: 1s;
    color: #333;
}
.open_task_button:hover{
    transition: 1s;
    color: #333;
}
.complete_task_button:hover{
    transition: 1s;
    color: #333;
}









.window_greysss {
    background: #F9F9F9;
    border-radius: 3%/3%;
    position: absolute;
    left: 66vh;
    top: 14vh;
    width: 78.4vh;
    height: 81vh;
    border: 0.1vh #D4d4d4 solid;
}



.create__task__input , textarea{
    border-radius: 4%/40%;
    border: none;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
    font-family: MontserratExtralight;
    text-indent: 1vh;
    transition: 1s;
}
.create__task__input input:hover {
    transition: 1s;
    border: 0.1vh #DD4433 solid;
    border-color: #DD4433;
}

textarea:hover {
    transition: 1s;
    border: 0.1vh #DD4433 solid;
    border-color: #DD4433;
}

.create__task__input:focus {
    outline-color: #DD4433;
}

textarea:focus {
    outline-color: #DD4433;
}

.name {
    position: absolute;
    left: 73.8vh; /* Отступ слева */
    top: 26.5vh; /* Центрирование по вертикали */
    width: 63vh;
    height: 6vh;
    font-size: 2.5vh;
}
.text_date_start{
    position: absolute;
    left: 74vh;
    top: 35.5vh;
    font-family: MontserratBold;
    font-size: 1.8vh;
}


.start_date {
    position: absolute;
    left: 73.8vh; /* Отступ слева */
    top: 38.5vh; /* Центрирование по вертикали */
    width: 63vh;
    height: 6vh;
    font-size: 2.5vh;
}

.start_date[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 57vh;
}

.text_date_finish{
    position: absolute;
    left: 74vh;
    top: 47.7vh;
    font-family: MontserratBold;
    font-size: 1.8vh;
}

.finish_date {
    position: absolute;
    left: 73.8vh; /* Отступ слева */
    top: 50.5vh; /* Центрирование по вертикали */
    width: 63vh;
    height: 6vh;
    font-size: 2.5vh;
}

.finish_date[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 57vh;
}

textarea {
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: column;
    left: 73.8vh; /* Отступ слева */
    top: 62.5vh; /* Центрирование по вертикали */
    width: 63vh;
    height: 15vh;
    font-size: 2.2vh;
    border-radius: 2%/15%;
    line-height: 4vh;
}




.create__button {
    position: absolute;
    left: 78.5vh; /* Отступ слева */
    top: 82.5vh; /* Центрирование по вертикали */
    width: 52.2vh;
    height: 9vh;
    color: #dddddd;
    background: #DD4433;
    border-radius: 3%/11%;
    font-size: 3.3vh;
    border: none;
    font-family: MontserratRegular;

}
.create__button:hover {
    transition: 1s;
    border: 1px solid;
    border-color: red;
    background: #ffffff;
    color: #DD4433;
    border-color: red;
}
.create__task__heading {
    position: absolute;
    font-family: MontserratBold;
    left: 74vh;
    top: 19vh;
    font-size: 3.7vh;
    z-index: 3;
}
.close_create_button {
    position: absolute;
    top: 15.6vh;
    left: 137vh ;
    background: none;
    border: none;
    cursor: pointer;
}



.popup_create {
    display: none;
    /* остальные стили */
}
.open_friend {
    position: absolute;
    left: 110vh;
    top: 15vh; /* Центрирование по вертикали */
    width: 6vh;
    height: 6vh;
    border: none;
    background-color: #ffff;
    z-index: 3;
}

.open_friend img {
    width: 6vh;
    height: 6vh;
}

.popup_friend_list {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none; /* Скрываем по умолчанию */

}

.popup-content_friend {
    position: absolute;
  left: 150vh;
  top: 19vh;
  background-color: #ffff;
  border-radius: 7%;
  max-height: 80vh;
  width:40vh;
  height: 40vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  border: 0.2vh #D4d4d4 solid
}

.scrollable-content1 {
    position: absolute;
  top: 7vh;
  left: 6%;
  width:89%;
  overflow-y: auto;
  max-height: 74%;
  margin: 5% 0;
  z-index: 5;
}

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: MontserratRegular;
  border-radius: 7% / 30%;
  border: 1px #D4d4d4 solid;
  width: 99%;
  height: 6vh;
  text-indent: 2vh;
  line-height: 4vh;
  font-size: 2.3vh;
}

.add_friend {
  background-color: #ffffff;
  border-radius: 50%;
  text-indent: -5%;
}

.friend button {
  position: flex;
  gap: 10px;
  border: none;
}

.add_friend img{
    width: 4vh;
    height: 4vh;
}


.text__friends1 {
    position: absolute;
    z-index: 1;
    top: 0.04vh;
    left: 4.5vh;
    font-family: MontserratRegular;
    font-size: 1.9vh;
}


.window_greyss {
  background: #f9f9f9;
  border-radius: 3vh;
  position: absolute;

  width: 100%;
  height: 17%;
}
.close_friend {
    position: absolute;
    top: 5%;
    left: 83%;
}
.close_friend button {
  width: 4vh;
  height: 4vh;
  border: none;
  background-color: #f9f9f9;
}















.create__task__heading {
    position: absolute;
    font-family: MontserratBold;
    left: 74vh;
    top: 16vh;
    font-size: 3.7vh;
    z-index: 3;
}



.window_greyssss {
    background: #F9F9F9;
    border-radius: 3%/3%;
    position: absolute;
    left: 66vh;
    top: 11vh;
    width: 78.4vh;
    height: 85vh;
    border: 0.1vh #D4d4d4 solid;
}

.create__task__input , textarea{
    border-radius: 4%/40%;
    border: none;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
    font-family: MontserratExtralight;
    text-indent: 1vh;
    transition: 1s;
}
.create__task__input input:hover {
    transition: 1s;
    border: 0.1vh #DD4433 solid;
    border-color: #DD4433;
}

textarea:hover {
    transition: 1s;
    border: 0.1vh #DD4433 solid;
    border-color: #DD4433;
}

.create__task__input:focus {
    outline-color: #DD4433;
}

textarea:focus {
    outline-color: #DD4433;
}

.name {
    position: absolute;
    left: 73.8vh; /* Отступ слева */
    top: 23.5vh; /* Центрирование по вертикали */
    width: 63vh;
    height: 6vh;
    font-size: 2.5vh;
}
.text_date_start{
    position: absolute;
    left: 74vh;
    top: 32.5vh;
    font-family: MontserratBold;
    font-size: 1.8vh;
}


.start_date {
    position: absolute;
    left: 73.8vh; /* Отступ слева */
    top: 35.5vh; /* Центрирование по вертикали */
    width: 63vh;
    height: 6vh;
    font-size: 2.5vh;
}

.start_date[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 57vh;
}

.text_date_finish{
    position: absolute;
    left: 74vh;
    top: 44.7vh;
    font-family: MontserratBold;
    font-size: 1.8vh;
}

.finish_date {
    position: absolute;
    left: 73.8vh; /* Отступ слева */
    top: 47.5vh; /* Центрирование по вертикали */
    width: 63vh;
    height: 6vh;
    font-size: 2.5vh;
}

.finish_date[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 57vh;
}

textarea {
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: column;
    left: 73.8vh; /* Отступ слева */
    top: 57.5vh; /* Центрирование по вертикали */
    width: 63vh;
    height: 13vh;
    font-size: 2.2vh;
    border-radius: 2%/15%;
    line-height: 4vh;
}




.create__button {
    position: absolute;
    left: 79.5vh; /* Отступ слева */
    top: 84.5vh; /* Центрирование по вертикали */
    width: 52.2vh;
    height: 9vh;
    color: #dddddd;
    background: #DD4433;
    border-radius: 3%/11%;
    font-size: 3.3vh;
    border: none;
    font-family: MontserratRegular;

}
.create__button:hover {
    transition: 1s;
    border: 1px solid;
    border-color: red;
    background: #ffffff;
    color: #DD4433;
    border-color: red;
}

.select {
    position: absolute;
    left: 73.8vh;
    top: 75vh;
    width: 64vh;
    height: 5vh;
    border-radius: 1vh;
    border: none;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
    font-family: MontserratExtralight;
    font-size: 2.6vh;
}

.select:hover {
    transition: 1s;
    border: 0.1vh #DD4433 solid;
    border-color: #DD4433;
}

.select:focus {
    outline-color: #DD4433;
}
.button_add{
    border: none;
    border-radius: 50vh;
    background-color: #ffffff;
    width: 4vh;
    height: 4vh;
}