
@font-face {
    font-family:"MontserratBold";
    src: url(/front/fonts/Montserrat-Bold.ttf)
}
@font-face {
    font-family:"Montserrat";
    src: url(/front/fonts/Montserrat-Medium.ttf)
}
@font-face {
    font-family:"MontserratExtralight";
    src: url(/front/fonts/Montserrat-ExtraLight.ttf)
}
@font-face {
    font-family:"MontserratRegular";
    src: url(/front/fonts/Montserrat-Regular.ttf)
}



.main__body {
  max-width: 100%; /* Делаем контейнер точкой отсчёта для абсолютного позиционирования */
  margin: 0 auto;
  overflow-x: hidden;
 /* Чтобы контейнер был не меньше высоты аватара */
}


.logo {
  position: absolute;
  left: 8%; /* Отступ слева */
  top: 5.6%; /* Центрирование по вертикали */
  width: 8%;
  height: 4%;
}

.profile {
  position: absolute;
  left: 90%; /* Отступ слева */
  top: 4.8%; /* Центрирование по вертикали */
  width: 2.5%;
  height: 3%;
}

.friends {
     position: absolute;
  left: 87%; /* Отступ слева */
  top: 5.3%; /* Центрирование по вертикали */
  width: 2.5%;
  height: 3%;
}


.login__heading {    
    position: absolute;
  font-family: MontserratBold;
  left: 72.5vh;
  top: 27vh;
  font-size: 3.8vh;
  z-index: 1;
}

.window_grey {
  background: #F9F9F9;
  border-radius: 4% / 4%;
  position: absolute;
  left: 67vh;
  top: 22.1vh;
  width: 73.2vh;
  height: 58.2vh;
  z-index: 0;
  border: 0.1vh #D4d4d4 solid;
}

.login__input {
    border-radius: 8%/80%;
    border: none;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
    font-family: MontserratExtralight;
    text-indent: 1vh;
    transition: 0.5s;
}
.login__input input:hover {
    
    border: 0.1vh #DD4433 solid;
    border-color: #DD4433;
}

.login__input:focus {
    outline-color: #DD4433;
}

.login__login__input {
    position: absolute;
  left: 73.4vh; /* Отступ слева */
  top: 38.4vh; /* Центрирование по вертикали */
  width: 63vh;
  height: 5.6vh;
  font-size: 2.5vh;
}

.password__login__input{
    position: absolute;
  left: 73.4vh; /* Отступ слева */
  top: 51.3vh; /* Центрирование по вертикали */
  width: 63vh;
  height: 5.6vh;
  font-size: 24px;
  font-size: 2.5vh;
}


.log__button {
    position: absolute;
  left: 78.6vh; /* Отступ слева */
  top: 64.7vh; /* Центрирование по вертикали */
  width: 52.3vh;
  height: 9vh;
  color: #dddddd;
  background: #DD4433;
  border-radius: 3%/11%;
  font-size: 3.3vh;
   border: none;
   font-family: MontserratRegular;
   transition: 0.5s;
}
.log__button:hover {
    border: 0,1vh solid;
    border-color: red;
    background: #ffffff;
    color: #DD4433;
    border-color: red;
}
.registration_button {
    position: absolute;
    left: 92.5vh;
    top: 82.6vh;
    color: #DD4433;
    background: #ffffff;
    font-size: 2.3vh;
    font-family: MontserratRegular;
    border: none;
}


