
.main__body {
  width: 100%; /* Делаем контейнер точкой отсчёта для абсолютного позиционирования */
  max-width: 1200px;
  margin: 0 auto;
 /* Чтобы контейнер был не меньше высоты аватара */
}

.registration {
  width: 100%; /* Делаем контейнер точкой отсчёта для абсолютного позиционирования */
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  left: 155px; /* Отступ слева */
  top: 55px; /* Центрирование по вертикали */
  width: 115px;
  height: 40px;
}

.profile {
  position: absolute;
  left: 1745px; /* Отступ слева */
  top: 55px; /* Центрирование по вертикали */
  width: 40px;
  height: 40px;
}

.friends {
     position: absolute;
  left: 1690px; /* Отступ слева */
  top: 57px; /* Центрирование по вертикали */
  width: 33px;
  height: 33px;
}

@font-face {
    font-family:"Montserrat";
    src: url(/front/fonts/Montserrat-Medium.ttf)
}
@font-face {
    font-family:"MontserratExtralight";
    src: url(/front/fonts/Montserrat-ExtraLight.ttf)
}
@font-face {
    font-family:"MontserratRegular";
    src: url(/front/fonts/Montserrat-Regular.ttf)
}

.registration__heading {    
    position: absolute;
  font-family: Montserrat;
  left: 564px;
  top: 145px;
  width: 483px;
  height: 50px;
  font-size: 36px;
}

.window_grey {
  background: #F9F9F9;
  border-radius: 15px;
  position: absolute;
  left: 564px;
  top: 248px;
  width: 700px;
  height: 660px;
}

.registration__input {
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: MontserratExtralight;
    text-indent: 10px;
    transition: 0.5s;
}
.registration__input:hover {
    
    border: 1px #DD4433 solid;
    border-color: #DD4433;
}

.registration__input:focus {
    outline-color: #DD4433;
}

.name {
    position: absolute;
  left: 614px; /* Отступ слева */
  top: 301px; /* Центрирование по вертикали */
  width: 600px;
  height: 56px;
  font-size: 24px;
}

.login {
    position: absolute;
  left: 614px; /* Отступ слева */
  top: 417px; /* Центрирование по вертикали */
  width: 600px;
  height: 56px;
  font-size: 24px;
}

.password {
    position: absolute;
  left: 614px; /* Отступ слева */
  top: 533px; /* Центрирование по вертикали */
  width: 600px;
  height: 56px;
  font-size: 24px;
}

.confirm_password {
    position: absolute;
  left: 614px; /* Отступ слева */
  top: 649px; /* Центрирование по вертикали */
  width: 600px;
  height: 56px;
  font-size: 24px;
}

.reg_button {
    position: absolute;
  left: 664px; /* Отступ слева */
  top: 763px; /* Центрирование по вертикали */
  width: 500px;
  height: 88px;
  color: #dddddd;
  background: #DD4433;
  border-radius: 15px;
  font-size: 32px;
   border: none;
   font-family: MontserratRegular;
   transition: 0.5s;
}
.reg_button:hover {
    border: 1px solid;
    border-color: red;
    background: #ffffff;
    color: #DD4433;
    border-color: red;
}

.login_button {
    position: absolute;
    left: 870px;
    top: 918px;
    width: 229px;
    height: 29px;
    color: #DD4433;
    background: #ffffff;
    font-size: 24px;
    font-family: MontserratRegular;
    border: none;
}

